@media (max-width: 3840px) and (min-width: 2561px) {

  .container {
    padding: 0 150px;
  }

  .section__title {
    margin-bottom: 40px;
    font-size: 96px;
    line-height: 118px;
  }

  .subsection__title {
    font-size: 48px;
    line-height: 64px;
  }

  .section__descr {
    font-size: 32px;
    line-height: 64px;
  }

  .button {
    padding: 38px 76px;
    gap: 20px;
    border-radius: 32px;
    font-size: 32px;
    line-height: 40px;
  }

  .section-offset {
    margin-bottom: 200px;
  }

  .header {
    min-height: 200px;
    box-shadow: 0 10px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 64px 64px;
    margin-bottom: 100px;
  }

  .header__logo {
    width: 450px;
    height: 144px;
  }

  .header__logo svg {
    width: 450px;
    height: 144px;
  }

  .header__nav {
    max-width: 1416px;
  }

  .nav__list {
    gap: 170px;
  }

  .nav__item {
    font-size: 36px;
    line-height: 44px;
    gap: 20px;
    height: 44px;
  }

  .nav__link {
    height: 44px;
    gap: 20px;
  }

  .nav__link:focus {
    outline-offset: 10px;
    outline: 4px solid var(--orange-basic);
    height: 44px;
    gap: 20px;
  }

  .nav__link:hover {
    height: 58px;
    border-bottom: 4px solid var(--orange-basic);
    gap: 14px;
  }

  .nav__link:active {
    height: 58px;
    border-bottom: 4px solid var(--orange-dark);
    gap: 14px;
  }

  .header__btn {
    width: 48px;
    height: 48px;
    margin: 76px 0;
  }

  .header__btn_svg {
    width: 48px;
    height: 48px;
  }

  .header__btn:focus {
    outline-offset: 8px;
    outline: 4px solid var(--orange-basic);
  }

  .search-window {
    right: 34px;
    top: 38px;
    right: 34px;
    width: 1080px;
    height: 120px;
    padding-left: 64px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.12);
    border-radius: 48px;
  }

  .header__btn_search {
    width: 48px;
    height: 48px;
  }

  .search-close__btn {
    margin-right: 26px;
  }

  .search-close__btn_svg {
    width: 48px;
    height: 48px;
  }

  .form__search_input {
    width: 824px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    padding-bottom: 1px;
    border-bottom: 2px solid var(--grey-light);
    margin-right: 28px;
  }

  .advantages {
    margin-bottom: 100px;
  }

  .advantages__content {
    border-radius: 64px;
    padding: 200px 0 100px 160px;
  }

  .advantages__title {
    margin: 0;
    max-width: 1920px;
    margin-bottom: 48px;
    font-size: 140px;
    line-height: 170px;
  }

  .advantages__descr {
    margin-left: 0;
    margin-bottom: 180px;
    max-width: 1800px;
    font-size: 48px;
    line-height: 58px;
  }

  .advantages__btn {
    margin-left: 0;
    width: 410px;
    height: 80px;
    padding: 38px 74px;
    font-size: 46px;
    line-height: 56px;
  }

  .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 56px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 20px);
  }

  .about-us__descr {
    max-width: 70%;
    min-height: 384px;
    margin-bottom: 90px;
  }

  .about-us__list {
    gap: 64px;
  }

  .about-us__list_column {
    width: 100%;
    gap: 64px;
  }

  .about-us__item_col {
    min-height: calc((100% - 64px) / 2);
    border-radius: 64px;
    border: 2px solid var(--grey-light);
    background-position: left 80px center;
    background-size: 341px 289px;
  }

  .about-us__item {
    width: calc((100% - 64px) / 2);
    border-radius: 64px;
  }

  .blog-preview__left {
    width: 100%;
    margin-top: auto;
    border-radius: 64px;
    align-items: center;
  }

  .blog-preview__descr_left {
    margin: 50px;
    max-width: 70%;
  }

  .about-us__button {
    width: 350px;
    height: 120px;
    border: 6px solid var(--orange-basic);
    margin: 136px 100px 136px 0;
  }

  .blog-preview__right {
    margin-top: 130px;
    margin-left: 450px;
    margin-right: 20px;
    margin-bottom: 80px;
  }

  .blog-preview__title {
    line-height: 58px;
    margin-bottom: 16px;
  }

  .blog-preview__descr {
    max-width: 900px;
    min-height: 256px;
  }

  .how-we-work__content {
    background-size: calc((100% - 150px) / 2) 70%;
    border-radius: 64px;
  }

  .how-we-work__title {
    max-width: 880px;
    margin-bottom: 20px;
  }

  .hww__list {
    margin-bottom: 90px;
  }

  .hww__item_link:focus {
    outline-offset: 10px;
    outline: 4px solid var(--orange-basic);
  }

  .hww__title {
    margin-bottom: 16px;
  }

  .hww__descr {
    margin-bottom: 100px;
    max-width: 1516px;
    height: 900px;
  }

  .hww__btn_color {
    margin-right: 56px;
    width: 350px;
  }

  .hww__btn_transparent {
    border: 2px solid var(--black-basic);
    width: 294px;
    height: 120px;
  }

  .tabs__item_step-content {
    width: calc((100% - 64px) / 2);
    border-radius: 64px;
  }

  .tabs__item_step-content:last-child {
    margin-top: 24px;
    border-radius: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .faq__title {
    padding-top: 14px;
    margin-bottom: 64px;
  }

  .faq__button {
    min-height: 224px;
    border-top: 2px solid var(--grey-light);
  }

  .faq__button:last-child {
    border-bottom: 2px solid var(--grey-light);
  }

  .faq__button_svg {
    width: 100px;
    height: 100px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer__left {
    max-width: 510px;
    min-height: 988px;
    margin-right: 180px;
  }

  .footer__logo {
    max-width: 450px;
    min-height: 144px;
    margin-bottom: 40px;
  }

  .footer__logo_svg {
    fill: var(--white-basic);
    width: 450px;
    height: 144px;
  }

  .footer__nav {
    margin-bottom: 180px;
  }

  .footer__list {
    padding: 0;
    margin: 0;
    gap: 20px;
  }

  .footer__link {
    line-height: 72px;
  }

  .social__list {
    max-width: 290px;
    min-height: 120px;
  }

  .social__link {
    width: 120px;
    height: 120px;
  }

  .social__link_svg {
    width: 120px;
    height: 120px;
  }

  .social__link:focus {
    outline-offset: 10px;
    outline: 2px solid var(--orange-basic);
  }

  .footer__center {
    margin-right: 80px;
  }

  .footer__center_title {
    font-size: 76px;
    margin-bottom: 50px;
    width: 1140px;
  }

  .form__input_wrapper {
    gap: 50px;
  }

  .form__input {
    min-height: 120px;
    border-radius: 32px;
    font-size: 32px;
    line-height: 64px;
    padding: 28px 0;
    padding-left: 48px;
  }

  .form__textarea {
    min-height: 300px;
    margin-bottom: 64px;
  }

  .form__button {
    display: flex;
    justify-content: center;
  }

  .form__btn {
    width: 538px;
    height: 116px;
    padding: 38px 104px;
  }

  .footer__right {
    max-width: 25%;
    min-height: 640px;
    margin-top: auto;
    margin-bottom: auto;

  }
}

@media (max-width: 1770px) {
  .header__logo {
    margin-right: 130px;
  }


  .blog-preview__descr_left {
    margin: 45px;
    margin-right: 90px;
  }

  .how-we-work__content {
    background-size: calc((100% - 60px) / 2) 70%;
  }

  .hww__descr {
    max-width: 650px;
    min-height: 385px;
  }

  .blog-preview__descr {
    max-width: 360px;
  }

  .blog-preview__descr_left {
    margin: 30px;
    margin-right: 40px;
  }

  .about-us__item_col {
    background-position: left 30px center;
  }

  .blog-preview__right {
    margin-top: 60px;
    margin-left: 240px;
  }

  .blog-preview__title {
    font-size: 19px;
  }

  .footer__list {
    gap: 0;
  }

  .footer__left {
    margin-right: 55px;
  }

  .footer__center_title {
    font-size: 45px;
  }
}

@media (max-width: 1440px) {
  .nav__list {
    justify-content: space-between;
    gap: 0;
  }

  .header__nav {
    width: 100%;
  }

  .header__logo {
    margin-right: 80px;
  }

  .about-us__descr {
    max-width: 100%;
  }

  .about-us__list {
    flex-direction: column;
  }

  .about-us__item {
    width: 100%;
  }

  .about-us__item_col {
    background-position: left 60px center;
  }

  .blog-preview__descr_left {
    max-width: 995px;
  }

  .blog-preview__right {
    margin-bottom: 50px;
    margin-left: 340px;
  }

  .blog-preview__title {
    font-size: 24px;
  }

  .blog-preview__descr {
    max-width: calc(100% / 2 - 70px);
  }

  .hww__descr {
    max-width: 500px;
    min-height: 480px;
  }

  .footer__right {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .section-offset {
    margin-bottom: 80px;
  }

  .header {
    margin-bottom: 40px;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 420px;
    min-height: 808px;
    z-index: 1000;
    padding-top: 170px;
    padding-left: 50px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 32px 32px;
    background-color: var(--white-basic);
    overflow-y: auto;
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 24px;
  }

  .header__nav--active {
    visibility: visible;
    -webkit-transform: none;
            transform: none;
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    top: 50%;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    z-index: 1001;
    transition: top 0.3s ease-in-out, z-index 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, z-index 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, z-index 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    bottom: auto;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    z-index: 1001;
    transition: top 0.3s ease-in-out, z-index 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, z-index 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, z-index 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .burger {
    position: relative;
    display: block;
    width: 30px;
    height: 23px;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    color: var(--black-basic);
    border: 1px solid currentColor;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 0;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .burger__line:nth-child(3) {
    top: 20px;
  }

  .header__logo {
    width: 150px;
    height: 48px;
    padding: 0;
    margin: 0;
  }

  .header__logo svg {
    width: 150px;
    height: 48px;
  }

  .search-window {
    right: 38px;
    top: -7px;
  }

  .advantages {
    margin-bottom: 40px;
  }

  .advantages__content {
    padding: 160px 77px;
  }

  .swiper-slide:nth-child(1) {
    background-image: url("../img/hero-pic-1024-1.webp");
  }

  .swiper-slide:nth-child(2) {
    background-image: url("../img/hero-pic-1024-2.webp");
  }

  .swiper-slide:nth-child(3) {
    background-image: url("../img/hero-pic-1024-3.webp");
  }

  .advantages__title {
    font-size: 60px;
    line-height: 73px;
    margin: 0;
    margin-bottom: 16px;
  }

  .advantages__descr {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .advantages__btn {
    margin: 0;
  }

  .about-us__title {
    margin-top: -5px;
  }

  .about-us__descr {
    width: 100%;
    min-height: 256px;
    margin-bottom: 60px;
  }

  .about-us__list {
    width: 100%;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 100%;
  }

  .blog-preview__left {
    width: 100%;
    margin-top: 444px;
  }

  .blog-preview__descr_left {
    margin: 50px;
    max-width: 433px;
  }

  .blog-preview__title {
    margin-bottom: 12px;
  }

  .about-us__item_col {
    width: 100%;
    min-height: 200px;
    background-position: left 77px center;
  }

  .blog-preview__right {
    margin-left: 317px;
    margin-bottom: 65px;
  }

  .blog-preview__descr {
    max-width: 450px;
  }

  .how-we-work__title {
    margin-bottom: 46px;
  }

  .hww__list {
    margin-bottom: 52px;
    width: 50%;
  }

  .hww__descr {
    max-width: 437px;
    margin-bottom: 25px;
    min-height: 575px;
  }

  .tabs__item_step-content {
    width: calc((100% - 50px) / 2);
  }

  .tabs__item:nth-child(1) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-1024-1.webp');
  }

  .tabs__item:nth-child(2) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-1024-2.webp');
  }

  .tabs__item:nth-child(3) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-1024-3.webp');
  }

  .tabs__item:nth-child(4) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-1024-4.webp');
  }

  .faq__title {
    padding: 0;
  }

  .faq__button_title {
    font-size: 20px;
    max-width: 756px;
  }

  .faq__button {
    min-height: 117px;
  }

  .faq__button_1 {
    min-height: 113px;
  }

  .faq__accordion_text {
    max-width: 90%;
  }

  .footer__left {
    margin-right: 0;
  }

  .footer__list {
    gap: 0;
    width: 100%;
  }

  .footer__center_title {
    letter-spacing: 2px;
  }

  .footer__center {
    max-width: 541px;
    margin-left: 0;
  }

  .form__input {
    width: 100%;
  }

  .footer__right {
    display: none;
  }

  .form__btn {
    width: 241px;
    padding: 19px 38px;
  }
}

@media (max-width: 960px) {

  .header {
    min-height: 69px;
  }

  .header__nav {
    padding-top: 155px;
  }

  .search-window {
    top: -7px;
    right: 38px;
  }

  .swiper-slide:nth-child(1) {
    background-image: url("../img/hero-pic-768-1.webp");
  }

  .swiper-slide:nth-child(2) {
    background-image: url("../img/hero-pic-768-2.webp");
  }

  .swiper-slide:nth-child(3) {
    background-image: url("../img/hero-pic-768-3.webp");
  }

  .advantages__content {
    width: 100%;
    padding: 160px 40px;
    border-radius: 24px;
  }

  .advantages__title {
    max-width: 588px;
    font-size: 50px;
    line-height: 61px;
  }

  .advantages__descr {
    max-width: 580px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  .about-us__descr {
    margin-bottom: 55px;
  }

  .about-us__item_left {
    min-height: 650px;
    border-radius: 24px;
  }

  .about-us__item_left {
    background-image: url("../img/about-768.webp");
    border-radius: 24px;

  }

  .blog-preview__left {
    margin-top: 455px;
    border-radius: 24px;
  }

  .blog-preview__descr_left {
    margin: 33px;
  }

  .about-us__button {
    margin-right: 40px;
  }

  .about-us__item_col {
    border-radius: 24px;
    background-size: 114px 99px;
    background-position: left 40px center;
    padding: 35px 46px;
  }

  .blog-preview__right {
    margin: 0;
    padding-left: 121px;
    width: 100%;
  }

  .blog-preview__title {
    max-width: 452px;
    margin-bottom: 6px;
  }

  .blog-preview__descr {
    max-width: 450px;
  }

  .how-we-work {
    margin-bottom: 49px;
  }

  .hww__list {
    gap: 0;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 36px;
  }

  .how-we-work__title {
    margin: 0;
    margin-bottom: 50px;
  }

  .hww__descr {
    max-width: 100%;
    min-height: auto;
  }

  .tabs__item_step {
    flex-direction: column-reverse;
    width: 100%;
  }

  .tabs__item_step-content {
    width: 100%;
  }

  .tabs__item_step-content:last-child {
    margin-top: 12px;
    border-radius: 24px;
    align-items: flex-end;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 285px;
    margin-bottom: 38px;
  }

  .tabs__item:nth-child(1) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-768-1.webp');
  }

  .tabs__item:nth-child(2) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-768-2.webp');
  }

  .tabs__item:nth-child(3) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-768-3.webp');
  }

  .tabs__item:nth-child(4) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-768-4.webp');
  }

  .faq {
    margin-bottom: 117px;
  }

  .faq__button_title {
    max-width: 570px;
  }

  .faq__button {
    min-height: 123px;
  }

  .faq__button_1 {
    min-height: 110px;
  }

  .faq__accordion_text {
    max-width: 80%;
  }

  .footer {
    min-height: 745px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__div {
    margin: 50px 0;
  }

  .footer__nav {
    display: none;
  }

  .footer__left {
    max-width: 225px;
    min-height: 138px;
    margin: 0;
  }

  .footer__logo {
    margin-bottom: 16px;
  }
}

@media (max-width: 720px) {

  .container {
    padding: 0 15px;
  }

  .section-offset {
    margin-bottom: 60px;
  }

  .section__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .subsection__title {
    font-size: 18px;
    line-height: 22px;
  }

  .section__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .button {
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
    border: 2px solid var(--orange-basic);
  }

  .header {
    min-height: 69px;
    border-radius: 0 0 16px 16px;
    margin-bottom: 30px;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .header__logo svg {
    width: 110px;
    height: 35px;
  }

  .header__nav {
    width: 320px;
    min-height: 409px;
    z-index: 1000;
    padding-top: 78px;
    padding-left: 15px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 32px 32px;
    background-color: var(--white-basic);
    -webkit-transform: rotateX(-120%);
            transform: rotateX(-120%);
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }

  .header__nav .nav__list {
    gap: 0;
  }

  .header__nav .nav__link {
    font-size: 16px;
    line-height: 20px;
  }

  .search-window {
    top: -18px;
    right: 0;
    width: 320px;
    height: 69px;
  }

  .search-close__btn {
    margin-right: 15px;
  }

  .form__search_input {
    width: 222px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 8px;
    margin-right: 0px;
  }


  .swiper {
    border-radius: 16px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 13px;
  }

  .advantages__content {
    padding: 60px 21px 0px 22px;
    border-radius: 16px;
    margin-bottom: 60px;
    align-items: center;
  }

  .advantages__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 6px;
  }

  .advantages__descr {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 33px;
  }

  .advantages__btn {
    width: 106px;
    height: 17px;
    padding: 13px 28px;
    border: none;
  }

  .about-us__title {
    margin-top: 5px;
  }

  .about-us__descr {
    margin-bottom: 14px;
  }


  .about-us__item_left {
    margin: 0;
    min-height: 399px;
    border-radius: 16px;
    flex-direction: column;
    background: none;
  }

  .blog-preview__left {
    margin: 0;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: auto;
    background-color: transparent;
    align-items: flex-start;
  }

  .blog-preview__descr_left {
    width: 100%;
    color: var(--black-basic);
    margin: 0;
    font-weight: 400;
    margin-bottom: 12px;
  }

  .about-us__back {
    width: 100%;
    height: 400px;
    background-image: url("../img/about-320.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 8px;
    border-radius: 16px;
  }

  .about-us__button {
    margin: 0;
    color: var(--orange-basic);
    width: 162px;
    height: 39px;
    padding: 11px 43px;
    align-self: flex-start;
  }

  .about-us__button:focus,
  .about-us__button:hover {
    color: var(--white-basic);
  }

  .about-us__item_col {
    border: none;
    width: 100%;
    background-position: top left;
    background-size: 64px 49px;
    padding: 0;
    overflow: visible;
  }

  .about-us__item_col:first-child {
    background-image: url("../img/about-us-1-320.svg");
  }

  .about-us__item_col:last-child {
    background-image: url("../img/about-us-2-320.svg");
  }

  .blog-preview__right {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 60px;
  }

  .blog-preview__title {
    margin-bottom: 4px;
    letter-spacing: -0.4px;
  }

  .about-us {
    margin-bottom: 60px;
  }


  .how-we-work__content {
    background: none;
  }

  .how-we-work__title {
    margin-bottom: 20px;
  }

  .hww__list {
    margin-bottom: 15px;
    gap: 44px;
  }

  .hww__item {
    font-size: 14px;
    line-height: 17px;
  }

  .hww__title {
    margin-top: 0;
    letter-spacing: -0.4px;
    margin-bottom: 13px;
  }

  .hww__descr {
    margin-bottom: 23px;
  }

  .hww__btn_color {
    box-sizing: border-box;
    width: 162px;
    height: 39px;
    padding: 12px 44px;
    margin-right: 5px;
    border: none;
  }

  .hww__btn_transparent {
    box-sizing: border-box;
    width: 118px;
    height: 39px;
    padding: 12px 32px;
    border: 1px solid var(--black-basic);
  }

  .faq__title {
    margin-bottom: 16px;
  }

  .faq__button:nth-child(2n),
  .faq__button {
    min-height: 133px;
  }

  .faq__button:last-child {
    min-height: 110px;
  }

  .faq__button:nth-child(2) {
    min-height: 110px;
  }

  .faq__button_title,
  .faq__button_title:first-child {
    width: 82%;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.3px;
  }

  .faq__btn {
    width: 30px;
    height: 30px;
  }

  .faq__button_svg {
    width: 30px;
    height: 30px;
  }

  .footer {
    padding: 0;
    min-height: 628px;
    padding-top: 33px;
  }

  .footer__div {
    margin: 0;
  }

  .footer__center {
    margin-bottom: 15px;
  }

  .footer__center_title {
    letter-spacing: 0;
  }

  .form__input_wrapper {
    width: 290px;
    margin-bottom: 25px;
    gap: 0;
    row-gap: 25px;
  }

  .form__input {
    font-size: 14px;
    width: 290px;
    padding: 14px 0 14px 20px;
  }

  .form__textarea {
    height: 150px;
    margin: 0;
  }

  .form__btn {
    width: 180px;
    height: 39px;
    padding: 12px 28px;
    border: none;
    margin-bottom: 16px;
  }

  .form__button {
    width: 290px;
    border-bottom: 1px solid var(--grey-dark);
  }

  .footer__logo {
    width: 131px;
    height: 42px;
    margin-left: 80px;
    padding: 0;
    margin-bottom: 16px;
  }

  .footer__logo_svg {
    width: 131px;
    height: 42px;
  }

  .social__list {
    width: 91px;
    height: 41px;
    margin: 0;
    gap: 16px;
    margin-left: 97px;
    margin-bottom: -9px;
  }

  .social__link_svg {
    width: 40px;
    height: 40px;
  }

  .social__link {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {

  .about-us__back {
    height: 200px;
  }

  .hww__back {
    height: 160px;
  }

  .hww__list {
    gap: 25px;
    margin-bottom: 12px;
  }

  .tabs__item:nth-child(1) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-320-1.webp');
  }

  .tabs__item:nth-child(2) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-320-2.webp');
  }

  .tabs__item:nth-child(3) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-320-3.webp');
  }

  .tabs__item:nth-child(4) .tabs__item_step-content:last-child {
    background-image: url('../img/how-pic-320-4.webp');
  }

  .tabs__item_step-content:last-child {
    margin-top: 0px;
    border-radius: 16px;
    height: 160px;
    margin-bottom: 21px;
  }

  .faq__button {
    min-height: 130px;
  }

  .faq__button_1 {
    min-height: 111px;
  }

  .faq__accordion_item:last-child .faq__button {
    min-height: 111px;
  }

}
