@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), local("MontserratRegular"),
    url(../fonts/Montserrat-Regular.woff2) format("woff2"),
    url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), local("MontserratSemiBold"),
    url(../fonts/Montserrat-SemiBold.woff2) format("woff2"),
    url(../fonts/Montserrat-SemiBold.woff) format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), local("MontserratBold"),
    url(../fonts/Montserrat-Bold.woff2) format("woff2"),
    url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), local("MontserratExtraBold"),
    url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"),
    url(../fonts/Montserrat-ExtraBold.woff) format("woff");
  font-weight: 800;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* цветовая палитра */
  --white-basic: #ffffff;
  --white-background: #e5e5e5;
  --orange-basic: #ff9900;
  --orange-light: #ffb84d;
  --orange-dark: #e1670e;
  --green-light: #97ee3f;
  --grey-light: #cacaca;
  --grey-basic: #666666;
  --grey-dark: #414141;
  --black-basic: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--white-basic);
}



/* global */

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  padding: 0 75px;
  margin: 0 auto;
  width: 100%;
}

.section__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--black-basic);
}

.subsection__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-basic);
}

.section__descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--black-basic);
}

.section-offset {
  margin-bottom: 100px;
}

.button {
  padding: 19px 38px;
  text-align: center;
  gap: 10px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}


/* header */

.header {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 32px 32px;
  background-color: var(--white-basic);
  margin-bottom: 50px;
}

.header__container {
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 225px;
  height: 72px;
  margin-right: 292px;
}

.header__logo svg {
  fill: var(--black-basic);
}

.header__nav {
  max-width: 708px;
}

.nav__list {
  align-items: center;
  flex-wrap: wrap;
  gap: 85px;
}

.nav__item {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  min-height: 22px;
  align-items: flex-start;
  color: var(--black-basic);
  gap: 10px;
}

.nav__link {
  box-sizing: border-box;
  min-height: 22px;
  gap: 10px;
  border-color: transparent;
  outline: none;
  transition: outline 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus {
  flex-direction: column;
  align-items: flex-start;
  outline-offset: 5px;
  outline: 2px solid var(--orange-basic);
  border: transparent;
  min-height: 22px;
  gap: 10px;
}

.nav__link:hover {
  flex-direction: column;
  align-items: flex-start;
  min-height: 29px;
  border-bottom: 2px solid var(--orange-basic);
  row-gap: 7px;
  outline: none;
}

.nav__link:active {
  flex-direction: column;
  align-items: flex-start;
  min-height: 29px;
  border-bottom: 2px solid var(--orange-dark);
  color: var(--orange-dark);
  gap: 7px;
  outline: none;
}

.header__btn {
  width: 24px;
  height: 24px;
  outline: none;
  transition: outline 0.3s ease-in-out;
}

.header__btn_svg {
  width: 24px;
  height: 24px;
}

.header__btn_svg rect {
  fill: var(--black-basic);
  transition: fill 0.3s ease-in-out;
}

.header__btn_svg path {
  stroke: var(--black-basic);
  transition: stroke 0.3s ease-in-out;
}

.header__btn:focus {
  outline-offset: 4px;
  outline: 2px solid var(--orange-basic);
}

.header__btn:hover {
  outline: none;
}

.header__btn:hover .header__btn_svg rect {
  fill: var(--orange-basic);
  outline: none;
}

.header__btn:hover .header__btn_svg path {
  stroke: var(--orange-basic);
}

.header__btn--active {
  outline: none;
}

.header__btn--active .header__btn_svg rect {
  fill: var(--orange-basic);
}

.header__btn--active .header__btn_svg path {
  stroke: var(--orange-basic);
}

.search-window {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 17px;
  top: 7px;
  width: 540px;
  height: 60px;
  z-index: 1000;
  padding-left: 32px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  background-color: var(--white-basic);
  visibility: hidden;
  -webkit-transform: rotateX(-120%);
          transform: rotateX(-120%);
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.header__btn_search {
  width: 24px;
  height: 24px;
}

.stop-scroll {
  overflow: hidden;
}

.search-window--active {
  visibility: visible;
}

.search-close__btn {
  margin-right: 13px;
}

.search-close__btn_svg rect {
  fill: var(--grey-light);
  transition: fill 0.3s ease-in-out;
}

.search-close__btn_svg circle {
  stroke: var(--grey-light);
  transition: fill 0.3s ease-in-out;
}

.search-close__btn:hover .search-close__btn_svg rect {
  fill: var(--orange-basic)
}

.search-close__btn:hover .search-close__btn_svg circle {
  stroke: var(--orange-basic);
}

.search-close__btn:active .search-close__btn_svg rect {
  fill: var(--black-basic);
}

.search-close__btn:active .search-close__btn_svg circle {
  stroke: var(--black-basic);
}

.form__search {
  align-items: center;
}

.form__search .header__btn_svg rect {
  fill: var(--orange-basic);
}

.form__search .header__btn_svg path {
  stroke: var(--orange-basic);
}

.form__search_input {
  width: 412px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid var(--grey-light);
  margin-right: 14px;
}



/* advantages */

.advantages {
  margin-bottom: 50px;
}

.advantages__content {
  flex-direction: column;
  border-radius: 32px;
  overflow: hidden;
}


.advantages__title {
  padding: 0;
  max-width: 837px;
  margin: 100px 0 24px 80px;
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: var(--white-basic);
}

.advantages__descr {
  margin-left: 80px;
  margin-bottom: 90px;
  max-width: 790px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: var(--white-basic);
}

.advantages__btn {
  margin-left: 80px;
  width: 205px;
  height: 40px;
  padding: 19px 37px;
  margin-bottom: 100px;
  background-color: var(--orange-basic);
  font-size: 23px;
  line-height: 28px;
  color: var(--white-basic);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.advantages__btn:hover,
.advantages__btn:focus {
  background-color: var(--orange-light);
}

.advantages__btn:active {
  background-color: var(--orange-dark);
}

.swiper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 32px;
}

.swiper-slide {
  width: 100%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(1) {
  background-image: url("../img/hero-pic-1920-1.webp");
}

.swiper-slide:nth-child(2) {
  background-image: url("../img/hero-pic-1920-2.webp");
}

.swiper-slide:nth-child(3) {
  background-image: url("../img/hero-pic-1920-3.webp");
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 28px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: var(--grey-light);
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: var(--white-basic);
}


/* about-us */

.about-us__descr {
  max-width: 70%;
  min-height: 192px;
  margin-bottom: 50px;
}

.about-us__list {
  gap: 32px;
}

.about-us__list_column {
  width: 100%;
  flex-direction: column;
  gap: 32px;
}

.about-us__item_col {
  min-height: calc((100% - 32px) / 2);
  border: 1px solid var(--grey-light);
  overflow: hidden;
  border-radius: 32px;
  background-position: left 60px center;
  background-repeat: no-repeat;
}

.about-us__item_col:first-child {
  background-image: url("../img/about-us-1.svg");
}

.about-us__item_col:last-child {
  background-image: url("../img/about-us-2.svg");
}

.about-us__item_left {
  min-height: 622px;
  background-image: url("../img/about-us-img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us__item {
  width: calc((100% - 32px) / 2);
  border-radius: 32px;
}

.blog-preview__left {
  width: 100%;
  margin-top: 426px;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.blog-preview__descr_left {
  margin: 50px;
  margin-right: 160px;
  display: inline-block;
  max-width: 433px;
  font-weight: 700;
  color: var(--white-basic);
}

.about-us__button {
  width: 175px;
  height: 60px;
  border: 3px solid var(--orange-basic);
  color: var(--white-basic);
  margin-right: 50px;
  margin-left: auto;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about-us__button:hover,
.about-us__button:focus {
  background-color: var(--orange-basic);
}

.about-us__button:active {
  background-color: var(--orange-dark);
  border-color: var(--orange-dark);
}

.blog-preview__right {
  flex-direction: column;
  margin-top: 65px;
  margin-left: 300px;
}

.blog-preview__title {
  line-height: 29px;
  margin-bottom: 8px;
}

.blog-preview__descr {
  max-width: 450px;
  min-height: 128px;
}


/* how-we-work */

.how-we-work__title {
  max-width: 440px;
  margin-bottom: 50px;
}

.hww__list {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  gap: 70px;
}

.hww__item {
  font-weight: 400;
}

.hww__item_link {
  outline: none;
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hww__item_link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange-basic);
}


.hww__item_link:hover {
  color: var(--orange-basic);
  outline: none;
}

.hww__item_link:active {
  outline: none;
  color: var(--orange-dark);
}

.hww__title {
  margin-bottom: 8px;
}

.hww__descr {
  max-width: 758px;
  min-height: 320px;
  margin-bottom: 50px;
}

.hww__btn_color {
  background-color: var(--orange-basic);
  color: var(--white-basic);
  width: 175px;
  margin-right: 28px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out
}

.hww__btn_color:hover,
.hww__btn_color:focus {
  background-color: var(--orange-light);
  border-color: var(--orange-light);
}

.hww__btn_color:active {
  background-color: var(--orange-dark);
  border-color: var(--orange-dark);
}

.hww__btn_transparent {
  border: 1px solid var(--black-basic);
  color: var(--black-basic);
  font-weight: 400;
  width: 147px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hww__btn_transparent:hover,
.hww__btn_transparent:focus {
  background-color: var(--grey-basic);
  border-color: var(--grey-basic);
  color: var(--white-basic);
}

.hww__btn_transparent:active {
  background-color: var(--black-basic);
  border-color: var(--black-basic);
  color: var(--white-basic);
}

.tabs__nav_btn {
  border: none;
  background-color: transparent;
  color: var(--black-basic);
}

.tabs__item {
  display: none;
  transition: display 0.3s ease-in-out;
}

.tabs__item--active {
  display: block;
}

.tabs__item_step {
  width: 100%;
  justify-content: space-between;
}

.tabs__item_step-content {
  width: calc((100% - 32px) / 2);
  justify-content: space-between;
}

.tabs__item_step-content:first-child {
  flex-direction: column;
}

.tabs__item_step-content:last-child {
  margin-top: 12px;
  border-radius: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tabs__item:nth-child(1) .tabs__item_step-content:last-child {
  background-image: url('../img/how-pic-1920-1.webp');
}

.tabs__item:nth-child(2) .tabs__item_step-content:last-child {
  background-image: url('../img/how-pic-1920-2.webp');
}

.tabs__item:nth-child(3) .tabs__item_step-content:last-child {
  background-image: url('../img/how-pic-1920-3.webp');
}

.tabs__item:nth-child(4) .tabs__item_step-content:last-child {
  background-image: url('../img/how-pic-1920-4.webp');
}

.tabs__buttons {
  margin-top: auto;
}


/* faq */

.faq__title {
  padding-top: 9px;
  margin-bottom: 30px;
}

.faq__accordion_item {
  border-top: 1px solid var(--grey-light);
  transition: border-color 0.3s ease-in-out;
}

.faq__accordion_item:last-child {
  border-bottom: 1px solid var(--grey-light);
}

.faq__button {
  padding: 0;
  width: 100%;
  min-height: 111px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-basic);
  border: none;
  transition: fill 0.3s ease-in-out;
}

.faq__button_title {
  max-width: calc(100% - 50px);
  display: inline-block;
  text-align: start;
  transition: color 0.3s ease-in-out;
}

.faq__button_svg {
  width: 50px;
  height: 50px;
}

.faq__button_svg ellipse {
  fill: var(--grey-light);
  transition: fill 0.3s ease-in-out;
}

.faq__button_svg path {
  fill: var(--black-basic);
  transition: fill 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-transform-origin 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out, transform-origin 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out, transform-origin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-transform-origin 0.3s ease-in-out;
}

.faq__accordion_item:focus-within,
.faq__accordion_item:hover {
  border-color: var(--orange-basic);
}

.faq__accordion_item:focus-within+.faq__accordion_item,
.faq__accordion_item:hover+.faq__accordion_item {
  border-color: var(--orange-basic);
}

.faq__accordion_item:focus-within+.faq__accordion_item:last-child,
.faq__accordion_item:hover+.faq__accordion_item:last-child {
  border-bottom-color: var(--grey-light);
}

.faq__accordion_item:focus-within .faq__button_title,
.faq__accordion_item:hover .faq__button_title {
  color: var(--orange-basic);
}

.faq__accordion_item:focus-within .faq__button_svg ellipse,
.faq__accordion_item:hover .faq__button_svg ellipse {
  fill: var(--orange-basic);
}

.faq__accordion_item:focus-within .faq__button_svg path,
.faq__accordion_item:hover .faq__button_svg path {
  fill: var(--white-basic);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.faq__accordion_content {
  overflow: hidden;
  transition: height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.faq__accordion_text {
  max-width: 60%;
}

.faq__accordion_text:not(:last-child) {
  margin-bottom: 32px;
}

.faq__accordion_text:last-child {
  margin-bottom: 40px;
}

.faq__accordion_item--active {
  border-color: var(--grey-light);
}

.faq__accordion_item--active .faq__button_title {
  color: var(--black-basic);
}

.faq__accordion_item--active .faq__button_svg ellipse {
  fill: var(--grey-light);
}

.faq__accordion_item--active .faq__button_svg path {
  fill: var(--black-basic);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq__accordion_item--active:focus,
.faq__accordion_item--active:hover,
.faq__accordion_item--active:active {
  border-color: var(--grey-light);
}

.faq__accordion_item--active:focus+.faq__accordion_item,
.faq__accordion_item--active:hover+.faq__accordion_item {
  border-color: var(--grey-light);
}

.faq__accordion_item--active:focus .faq__button_title,
.faq__accordion_item--active:hover .faq__button_title,
.faq__accordion_item--active:active .faq__button_title {
  color: var(--black-basic);
}

.faq__accordion_item--active:focus .faq__button_svg ellipse,
.faq__accordion_item--active:hover .faq__button_svg ellipse,
.faq__accordion_item--active:active .faq__button_svg ellipse {
  fill: var(--grey-light);
}

.faq__accordion_item--active:focus .faq__button_svg path,
.faq__accordion_item--active:hover .faq__button_svg path,
.faq__accordion_item--active:active .faq__button_svg path {
  fill: var(--black-basic);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/* footer */

.footer {
  width: 100%;
  min-height: 594px;
  background-color: var(--black-basic);
}

.footer__container {
  justify-content: space-between;
}

.footer__div {
  margin: 50px 0;
  flex-direction: column;
}

.footer__left {
  max-width: 252px;
  min-height: 494px;
  margin-right: 113px;
}

.footer__logo {
  width: 225px;
  height: 72px;
  margin-bottom: 20px;
}

.footer__logo_svg {
  fill: var(--white-basic);
}

.footer__nav {
  min-height: 252px;
  margin-bottom: 90px;
}

.footer__list {
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 0;
  margin: 0;
  gap: 0;
}

.footer__link {
  text-align: start;
  color: var(--grey-light);
  line-height: 36px;
  transition: color 0.3s ease-in-out;
}

.footer__link:hover {
  color: var(--orange-basic);
  border: none;
}

.footer__link:active {
  color: var(--orange-dark);
  border: none;
}

.social__list {
  max-width: 145px;
  min-height: 60px;
  justify-content: space-between;
}

.social__link {
  width: 60px;
  height: 60px;
  transition: outline 0.3s ease-in-out;
}

.social__link_svg {
  fill: var(--grey-basic);
  transition: fill 0.3s ease-in-out;
}

.social__link:focus .social__link_svg {
  fill: var(--grey-basic);
}

.social__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange-basic);
}

.social__link:hover .social__link_svg {
  fill: var(--orange-basic);
}

.social__link:hover {
  outline: none;
}

.social__link:active .social__link_svg {
  fill: var(--orange-dark);
}

.social__link:active {
  outline: none;
}

.footer__center_title {
  color: var(--grey-light);
  margin-bottom: 25px;
  width: 570px;
}

.form__input_wrapper {
  flex-direction: column;
  gap: 25px;
}

.form__input {
  width: 100%;
  min-height: 60px;
  background-color: var(--grey-dark);
  border-radius: 16px;
  border: none;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey-light);
  padding: 14px 0;
  padding-left: 24px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form__input:hover,
.form__input:focus {
  background-color: var(--grey-basic);
}

.form__input:active {
  background-color: var(--grey-basic);
  color: var(--white-basic);
}

.form__textarea {
  min-height: 150px;
  margin-bottom: 30px;
}

.form__button {
  text-align: center;
}

.form__btn {
  width: 269px;
  height: 58px;
  padding: 19px 52px;
  background-color: var(--orange-basic);
  color: var(--white-basic);
  transition: background-color 0.3s ease-in-out;
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--orange-light);
}

.form__btn:active {
  background-color: var(--orange-dark);
}

.footer__right {
  max-width: 363px;
  min-height: 320px;
  margin: 137px 0;
}

.footer__right_descr {
  color: var(--grey-light);
}

.burger {
  display: none;
}

